# Rust
/target/
/pkgs/*/target/
/pkgs/*/examples/*/target/
# Node.js
node_modules/
/tmp/
.pnpm-store
# Python
.venv
# Cloudflare
.wrangler/
# Temp
/tmp/
# Secrets
.env
.env.*
!.env.example
!.env.*.example
.envrc
.direnv