# Rust
/target/
/bin/
/pkgs/*/target/
/pkgs/*/examples/*/target/
*.snap.new
*.pending-snap

# Node.js
node_modules/
.pnpm-store

# TypeScript
.ts/

# Python
.venv/

# Cloudflare
.wrangler/

# Worktrees
genotype.wt.code-workspace

# Assets
*~lock~*

# Temp
tmp/

# Secrets
.env
.env.*
!.env.example
!.env.*.example
.envrc
.direnv
mise.local.toml
